<section class="card col-sm-12 offset-1">
    <div class="row">
        <div class="card-block col-sm-8">
            <h4 class="sub-title">Welcome to a collection of books chosen by r/fantasy users!</h4>
            <p class="card-text">These books were hand-picked as the best standalone fantasy novels of 2017. To start searching, choose a book from the sidebar or click one of the arrow keys to continue.</p>
            <div class="row">
                <a href="/#!/details/10" class="btn btn-success col-sm-4 offset-3">Previous</a>
                <a href="/#!/details/1" class="btn btn-secondary col-sm-4 offset-1">Next</a>
            </div>
        </div>
    </div>
</section>